.video {
  position: relative;
  /* background-color: white; */
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.video__player {
  object-fit: fill;
  /* width: 100%;
  height: 100%; */
  height: 700px;
  width: 100%;
}

.videoHeader {
  position: absolute;
  top: 10px;
  color: white;
  width: 100%;
  display: flex;
}
